* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #546e7a;
}

html {
    background-color: #f1f3f4;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    font-weight: bolder;
}

p {
    font-size: 14px;
}

ul {
    padding: 0 15px;
    margin-top: 25px;
}

li {
    height: 35px;
    list-style-type: none;
    padding: 5px 20px;
    /*background-color: grey;*/
    border-radius: 35px;
    line-height: 35px;
    cursor: pointer;
    color: #7c8e96;
}

li:hover {
    background-color: #f9f9f9;
}

span {
    font-size: 18px;
    font-weight: bolder;
}

.active {
    background-color: #eef0f1;
}

.view-btn {
    background-color: #9ddb18;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    padding: 0 35px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 12px;
    box-shadow: 0px 3px 13px 0px rgba(123, 181, 0, 0.2);
    cursor: pointer;
}

.view-btn:hover {
    background-color: #90cd18;
}

.stats {
    border-radius: 4px;
    box-shadow: 0px 3px 4px 0px rgba(3, 155, 229, 0.09);
    background-color: white;
}

.sidebar-container {
    width: 210px;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 3px 18px 0px rgba(66, 103, 127, 0.26);
    position: fixed;
    display: inline-block;
    z-index: 99;
    float: left;
}

.profile {
    height: 205px;
    /*background-color: grey;*/
    padding-top: 20px;
    box-sizing: border-box;
}

.profile-img {
    height: 75px;
    width: 75px;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    background-color: #f1f3f4;
}

.user-name {
    text-align: center;
    margin-bottom: 3px;
}

.user-specialization {
    font-size: 14px;
    color: #9ba8ae;
    text-align: center;
    margin-bottom: 15px;
}

.view-profile {
    margin-left: 38px;
}

.map-btn {
    font-size: 14px;
    text-align: center;
    background-color: #32aeea;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.map-btn:hover {
    background-color: #26a3ea;
}

.menu img {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}

.sidebar-footer {
    border-top: 1px solid #e6e9eb;
    /*padding: 15px 55px 0 55px;*/
    position: absolute;
    /*margin-bottom: 15px;*/
    bottom: 0;
}

.sidebar-footer div {
    float: left;
    /*background-color: red;*/

    height: 55px;
    width: 105px;
    box-sizing: border-box;
    cursor: pointer;

}

.settings {
    padding: 17px 40px;

}

.sign-out {
    padding: 20px 40px;
}

.sidebar-footer div:hover {
    background-color: #eef0f1;
}

.top-bar {
    width: calc(100% - 210px);
    height: 50px;
    background-color: #fbfcfc;
    float: right;
    position: relative;
    /*padding-right: 25px;*/
    box-sizing: border-box;
}

input[type=text] {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 60px;
    font-size: 14px;
    background-color: #fbfcfc;
    color: #546e7a;
}

input[type=text]:focus {
    border: 1px solid #9ddb18;
}

input::placeholder {
    color: #90a4ae;
}

.search-icon {
    position: absolute;
    left: 25px;
    top: 12px;
}

.alert-wrapper {
    float: right;
    position: absolute;
    right: 25px;
    top: 15px;
    margin-left: 30px;
}

.notifications {
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.bullet {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #f44336;
    position: absolute;
    top: 0;
    right: 2px;
}

.messages {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}
.dashboard img{
    margin-top:0;
}
.content-container {
    width: calc(100% - 210px);
    height: calc(100% - 50px);
    background-color: #f3f3f5;
    /*padding: 25px;*/
    box-sizing: border-box;
    float: right;
}

.left-content{
    width: 50%;
    padding: 25px 0 0 25px;
    height: 750px;
    /*background-color: red;*/
    box-sizing: border-box;
    float: left;
    /*overflow: auto;*/
}

.overview {
    height: 175px;
    /*background-color: white;*/

}

.overview-stats {
    width: 21%;
    margin-right: 4%;
    height: 100px;
    float: left;
    /*padding-top: 20px;*/
    box-sizing: border-box;
}

.patients-week-stats {
    height: 250px;
}

.patients-stats {
    height: 190px;
}

.patients-on-map {
    /*height: 300px;*/
}

.patients-on-map-stats {
    height: 250px;
}

.overview h3, p {
    text-align: center;
}

.right-content{
    width: 50%;
    padding: 25px 25px 0 14px;
    /*padding: 25px 0 35px 25px;*/
    height: 750px;
    /*background-color: #e6ced2;*/
    box-sizing: border-box;
    float: left;
}

.doctors-availability {
    height: 650px;
}

.doctors-header {
    height: 35px;
    /*background-color: #7c8e96;*/
}

.list-wrapper {
    /*background-color: green;*/
    overflow: auto;
    height: 674px;

}

.doctors-stats {
    /*height: 75px;*/
    border-left: 3px solid #7c8e96;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 3px;
    cursor: pointer;

}

.doctors-stats:hover {
    background-color: #f2faff;
    box-shadow: 0px 3px 35px 0px rgba(3, 155, 229, 0.25);
    box-sizing: border-box;
}

.available {
    border-left: 3px solid #00c853;
}

.na {
    border-left: 3px solid #5c6bc0;
}

.booked {
    border-left: 3px solid #ff5252;
}

.doctor-profile {
    width: 50px;
    height: 50px;
    background-color: #e4e7e8;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

.doctor-detail {
    width: 150px;
    /*background-color: #d6d8d9;*/
    float: left;
}

.doctor-detail p {
    text-align: left;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.specialization {
    font-size: 12px;
    color: #90a4ae;
}

.availability {

}

.green {
    font-size: 14px;
    color: #00c853;
}

.purple {
    font-size: 14px;
    color: #5c6bc0;
}

.red {
    font-size: 14px;
    color: #ff5252;
}

.data {
    float: right;
    margin-left: 30px;
}

.doctor-data {
    margin-top: 7px;
}

.data-name {
    font-size: 12px;
    text-align: left;
}

.surgeons {
    /*background-color: red;*/
}

.surgeons-stats {
    /*height: 220px;*/
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    /*padding: 20px;*/
    box-sizing: border-box;
}



.test-div {
    height: 85px;
}


.surgeons-detail-wrapper {
    padding: 20px;
}

.surgeons-profile {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: #e4e7e8;
    float: left;
    margin-right: 15px;
}

.surgeons-details {
    float: left;
    /*background-color: red;*/
}

.surgeons-details .specialization {
    text-align: left;
    margin-bottom: 10px;
}

.surgeon-name {
    font-size: 18px;
    font-weight: bolder;
    text-transform: none;
    text-align: left;
    margin-bottom: 5px;
}

.surgeon-nurses-wrapper{
    height: 80px;
    background-color: #f5fbfe;
    clear: both;
    margin-top: 15px;
    float: left;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.surgeon-nurses-wrapper p {
    text-align: left;
    margin-bottom: 5px;
}

.surgeon-nurse-profile {
    height: 30px;
    width: 30px;
    background-color: #e4e7e8;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
}

.bubble {
    position: relative;
    width: 250px;
    /*height: 120px;*/
    padding: 5px 15px 15px 15px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 51px;
}

.map-profile {
    height: 30px;
    width: 30px;
    background-color: #e4e7e8;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    margin-top: 9px;
}

.p-header {
    height: 45px;
}

.p-header .name {
    line-height: 45px;
    font-size: 18px;
}

.p-details {
    margin-bottom: 10px;
}

.p-details span {
    text-transform: uppercase;
    color: #ff1a1a;
    font-size: 10px;
}

.p-details p {
    text-align: left;
}

.empty-space {
    padding-top: 100px;
}

.empty-space img{
    margin-left: 44%;
}

.empty-space p {
    font-size: 20px;
    color: #a0adb2;
    margin-top: 10px;
}

.patients-list-stats p{

    margin-top: 5px;

}

.patient-status {
    border-radius: 15px;
    padding: 3px 10px;
    display: table-cell;
    float: right;
    margin-top: 15px;
    font-size: 12px;
    background-color: white;
}


.green-status {
    border: 1px solid #00c853;
}


.red-status {
    border: 1px solid #ff5252;
}


/*---------------alert--------------------*/

.alert-container {
    width: 100%;
    height: 100%;
}

.alert-bg {
    background-color: white;
    opacity: 0.5;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.alert-panel {
    width: 510px;
    /*height: 630px;*/
    background-color: white;
    position: absolute;
    z-index: 9999999;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: 0px 3px 54px 0px rgba(10, 52, 72, 0.29);

}

.alert-header {
    height: 120px;
    background-color: #f44336;
    padding: 30px;
    box-sizing: border-box;
}

.alert-header img {
    float: left;
    margin-right: 10px;
}

.alert-header p {
    text-align: left;
    /*float: left;*/
    color: white;
}

.warning {
    font-size: 25px;
    font-weight: bolder;
}


.alert-profile {
    height: 180px;
    padding: 15px 0;
    box-sizing: border-box;
}

.a-profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #7c8e96;
    margin: auto;
}

.a-user-name {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
}

.alert-details {
    height: 180px;
    background-color: #f2f2f2;
    width: 90%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;


}

.alert-details p {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 30px;
}

.high {
    padding: 3px 15px;
    background-color: #f44336;
    border-radius: 15px;
    color: white;
}

.details-card {
    /*padding: 20px 20px;*/
    float: left;
    width: 50%;
}

.details-card img{
    float: left;
    margin-right: 15px;
}

.value {
    font-size: 30px;
    font-weight: bolder;
}

.heart-rate img {
    margin-left: 20px;
}

.blood-pressure .value{
    font-size: 20px;
}

.btn-wrapper {
    /*width: 100%;*/
    /*background-color: red;*/
    padding: 30px 30px 50px 70px;
}

.alert-btn {
    color: white;
    background-color: #32aeea;
    border-radius: 25px;
    padding: 15px 20px;
    /*width: 180px;*/
    font-size: 14px;
    float: left;
    margin-bottom: 50px;
    margin-right: 5px;
    box-shadow: 0px 3px 21px 0px rgba(50, 174, 234, 0.32);
    cursor: pointer;
}

.alert-btn:hover {
    background-color: #32a2dd;
}

.alert-btn img {
    float: left;
    margin-right: 20px;

}

